@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1a202c; /* Dark slate color */
}

@layer utilities {
  .custom-gradient {
    background: rgb(255, 115, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 115, 0, 1) 0%,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 100, 121, 1) 0%,
      rgba(9, 100, 121, 1) 32%,
      rgba(9, 121, 93, 1) 74%
    );
  }
}

@layer components {
  .custom-checkbox {
    appearance: none;
    background-color: #b6bac0; /* Light gray */
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
  }

  .custom-checkbox:checked {
    background-color: #38b2ac; /* Teal */
  }

  .custom-checkbox:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100% 4" xmlns="http://www.w3.org/2000/svg"><path d="M1 5 L4 8 L9 1" stroke="%23000" stroke-width="2" fill="none"/></svg>')
      no-repeat center;
    transform: translate(-50%, -50%);
  }
}

.Add {
  border-radius: 25px;
  padding: 5px 14px;
}


.created-tasks,
.completed-task {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  background-color: #f3f4f6; /* Light gray background */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle drop shadow */
}
